[submodule "fzf/.fzf"]
	path = fzf/.fzf
	url = https://github.com/junegunn/fzf.git
[submodule "shell/.oh-my-zsh"]
	path = shell/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "icons/.local/share/icons/la-capitaine"]
	path = icons/.local/share/icons/la-capitaine
	url = https://github.com/keeferrourke/la-capitaine-icon-theme.git
